body {
  margin: auto;
  min-width: 1080px;
  color: #333333;
  font-family: "ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","メイリオ",Meiryo,"ＭＳ Ｐゴシック","MS PGothic",sans-serif;
  -webkit-text-size-adjust: 100%;
}
.container-1 {
  margin: 0;
  background: linear-gradient(to bottom, #eaeaea 0%, #f0f0f0 100%);
  min-width: 1080px;
  padding: 0;
}
.container-1 h2 {
  margin: 0 auto;
  padding: 20px 0 20px 50px;
  height: 40px;
  line-height: 40px;
  width: 1024px;
  font-size: 28px;
  font-weight: bold;
}
#main {
  width: 1024px;
  margin: 0 auto;
  overflow: hidden;
}
#main-upper {
  overflow: hidden;
  border-top: 2px solid #3e3e3e;
  border-bottom: 2px solid #3e3e3e;
  margin: 30px 0;
  height: 450px;
}
.keyvisual {
  float: left;
  width: 650px;
  margin: 0;
}
.keyvisual-list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.keyvisual-list li {
  height: 450px;
}
.keyvisual-list img {
  width: 650px;
  height: 450px;
}
#keyvisual-title {
  float: left;
  width: 374px;
  margin: 0;
  height: 450px;
}
.title-name h2 {
  background: #3e3e3e;
  color: white;
  border-bottom: 2px solid #9e9e9e;
  margin: 0;
  padding: 7px 20px;
  font-size: 16px;
}
.title-list {
  margin: 0;
  list-style: none;
  padding: 0;
}
.title-list li {
  background: #ededed;
  border-bottom: 1px solid #b1b1b1;
}
.title-list a {
  display: table-cell;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 14px;
  text-decoration: none;
  color: #323232;
  height: 81px;
  vertical-align: middle;
  width: 374px;
}
