body {
  margin: auto;
}
h1 {
  line-height: 40px;
  height: 40px;
  text-align: center;
  font-family: Consolas, Helvetica, "Meiryo UI", "ヒラギノ角ゴPro", sans-serif;
  font-size: 40px;
  color: rgba(0, 0, 0, 0.8);
  margin: 10px 0 10px 0;
}
.navbar-list {
  width: 100%;
  margin: auto;
  list-style: none;
  padding: inherit;
  border-top: 1px solid #9e9e9e;
  border-bottom: 1px solid #9e9e9e;
}
.navbar-list:after {
  content: "";
  clear: both;
  display: block;
}
.navbar-list li {
  float: left;
  width: 20%;
  padding: 5px 0px 5px 0px;
}
.navbar-list a {
  font-family: Consolas, Helvetica, "Meiryo UI", "ヒラギノ角ゴPro", sans-serif;
  font-size: 22px;
  display: block;
  line-height: 30px;
  height: 30px;
  text-align: center;
  background: white;
  color:#044dbd;
  border-right: 1px solid #9e9e9e;
  text-decoration: none;
}
.navbar-list li:last-child > a {
  border-right: none;
}
.carousel-container {
  width: 100%;
  margin: auto;
  background-color: #ECECEC;
  background-image: -webkit-gradient(linear, 0 0, 100% 100%,color-stop(.25, #F9F9F9),
  color-stop(.25, transparent),color-stop(.5, transparent), color-stop(.5, #F9F9F9),
  color-stop(.75, #F9F9F9), color-stop(.75, transparent),to(transparent));
  -webkit-background-size: 10px 10px;
}
.carousel-item {
  text-align: center;
  list-style: none;
  margin: 0;
  padding: 0;
  height: 435px;
  border-bottom: 1px solid #9e9e9e;
}
.news-container {
  width: 95%;
  margin: 15px auto 0px auto;
  padding: 0px 15px 0px 15px;
  border: 1px solid #9e9e9e;
}
.news-container h2 {
  font-family: Helvetica, "Meiryo UI", "ヒラギノ角ゴPro", sans-serif;
  text-align: left;
  margin-top: 15px;
  margin-bottom: 15px;
  padding-left: 4px;
  border-left: 5px solid #12c715;
}
.news-container p {
  font-family: Helvetica, "Meiryo UI", "ヒラギノ角ゴPro", sans-serif;
  text-align: left;
}
.branch-container {
  width: 95%;
  margin: 15px auto 0px auto;
  padding: 0px 15px 0px 15px;
  border: 1px solid #9e9e9e;
  font-family: Helvetica, "Meiryo UI", "ヒラギノ角ゴPro", sans-serif;
}
.branch-container h2 {
  text-align: left;
  margin-top: 15px;
  margin-bottom: 15px;
  padding-left: 4px;
  border-left: 5px solid #f37917;
}
.branch-container h3 {
  font-size: 19px;
  margin-top: 0px;
  margin-bottom: 0px;
}
.branch-container p {
  margin: 5px 0px 5px 0px;
}
.section-branch {
  margin-bottom: 15px;
}
#branch-shinjuku h3 {
  color: #041fab;
  text-shadow: #041fab 1px 1px 10px;
}
#branch-tsukuba h3 {
  color: #d60000;
  text-shadow: #d60000 1px 1px 10px;
}
#branch-atsugi h3 {
  color: #0c7700;
  text-shadow: #0c7700 1px 1px 10px;
}
.footer-container {
  margin: 15px 0px 0px 0px;
  border-top: 1px solid #9e9e9e;
}
.icon-link {
  list-style: none;
  text-align: center;
  margin: 15px 0 15px 0;
}
.icon-link:after {
  content: "";
  clear: both;
  display: block;
}
.icon-link li {
  float: left;
  width: 8%;
}
.icon-link li:first-child {
  padding-left: 38%;
}
.copyright h4 {
  font-family: Helvetica, "Meiryo UI", "ヒラギノ角ゴPro", sans-serif;
  color: #9e9e9e;
  text-align: center;
  margin: 0;
  padding-bottom: 15px;
}
