body {
  margin: auto;
  min-width: 1080px;
  color: #333333;
  -webkit-text-size-adjust: 100%;
}
.container {
  width: 1024px;
  margin: 20px auto 0 auto;
  font-family: Helvetica, "Meiryo UI", "ヒラギノ角ゴPro", sans-serif;
  overflow: hidden;
}
.detail-organization {
  border: 1px solid #9e9e9e;
}
.left-container {
  float: left;
  width: 50%;
}
.left-container h2{
  margin: 15px 15px 0 15px;
  height: 30px;
  line-height: 30px;
  padding: 5px 0;
  background: radial-gradient(red, #8d0606);
  color: white;
  text-align: center;
}
.left-container h3 {
  margin: 10px 15px 0px 15px;
  font-size: 18px;
}
.left-container dl {
  margin: 10px 15px 15px 15px;
}
.left-container dt {
  font-weight: bold;
  text-decoration: underline;
  margin-bottom: 5px;
  margin-top: 10px;
}
.left-container dd {
  margin-left: 20px;
  font-size: 16px;
}
.right-container {
  float: left;
  width: 50%;
}
.right-container h3 {
  font-size: 18px;
}
.image-box1 {
  margin: 0;
  text-align: center;
}
.right-container img {
  width: 482px;
  height: 446px;
}
.detail-base {
  border: 1px solid #9e9e9e;
}
.right-container h2{
  margin: 15px 15px 0 15px;
  height: 30px;
  line-height: 30px;
  padding: 5px 0;
  background: radial-gradient(#000cff, #070947);
  color: white;
  text-align: center;
}
.image-box2 {
  text-align: center;
  margin: 15px;
}
.image-box2 img {
  width: 460px;
  height: 336px;
}
.branch {
  margin: 10px 15px 15px 15px;
}
.branch dt{
  font-weight: bold;
  text-decoration: underline;
  margin-bottom: 5px;
}
.branch dd {
  margin-left: 20px;
  margin-bottom: 15px;
  font-size: 14px;
}
.right-container h3 {
  margin: 10px 15px 0 15px;
  -webkit-text-size-adjust: 100%;
}
.detail-member {
  margin: 35px auto 0 auto;
}
.detail-member h2 {
  margin: 0px auto;
  width: 50%;
  line-height: 30px;
  height: 30px;
  padding: 5px 0;
  text-align: center;
  color: #ffffff;
  background: radial-gradient(#07c807,#033803);
}
.detail-member h3 {
  margin: 10px 0 20px 0;
  text-align: center;
}
.teamkepler-member {
  padding: 0;
  margin: auto;
}
.teamkepler-member li {
  width: 250px;
  height: 350px;
  float: left;
  list-style: none;
  margin-right: 137px;
  margin-bottom: 70px;
}
.teamkepler-member li:nth-child(3n) {
  margin-right: 0;
}
.teamkepler-member img {
  width: 250px;
  height: 350px;
}
.teamkepler-member li > dd {
  margin: auto;
  text-align: center;
}
